[workspace]
resolver = "2"
members = [
  "crates/support",
  "crates/configuration",
  "crates/orchestrator",
  "crates/provider",
  "crates/test-runner"
]

[workspace.dependencies]
thiserror = "1.0"
async-trait = "0.1"
futures = "0.3"
serde = "1.0"
serde_json = "1.0"
tokio = "1.28"
reqwest = "0.11"
regex = "1.8"
lazy_static = "1.4"
multiaddr = "0.17"
url = "2.3"